@import "tailwindcss";

@theme {
  --color-cs-green: #138946;
  --color-cs-dark: #0d0807;
  --color-cs-gold: #C5A059;
  --color-background: #0d0807;
  --color-surface: #1a1413;
  --color-text-primary: #ffffff;
  --color-text-secondary: #a19d9c;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  overflow: hidden; /* Trava o vazamento global da página */
}

/* Estilização Global da Barra de Rolagem (Padrão Enterprise) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background: #2a2423;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-cs-green);
}